/* header, body { 
    background-image: url("https://images.unsplash.com/photo-1488779382325-da88fd3175e5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1502&q=80") ;
}

nav {
    margin: 10px;
    float: top;
 } */
 